.App {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 100%;
  min-height: 100vh; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 48px;
  align-self: flex-start; }

.App-header {
  padding: 1em;
  color: #455a64; }

.App-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2em;
  padding-top: 5em; }
  @media (min-width: 992px) {
    .App-title {
      font-size: 2.75em; } }
  @media (min-width: 1200px) {
    .App-title {
      font-size: 3.5em; } }

.App-intro {
  font-size: 1.2em; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.App-footer {
  background-color: #1565c0; }
